# Dependências
/node_modules

# Saída de Build
/dist

# Arquivos de configuração sensíveis
# NUNCA comite chaves de API ou credenciais!
/config.txt
/credentials.json
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos gerados pelo sistema operacional
.DS_Store
Thumbs.db

# Diretórios de IDE
.vscode/
.idea/
